<form id="homesearch-to-rent" class="search-form to-rent-tabcontent" method="POST" action="/locations/search/" style="display: none;">
  <input type="hidden" name="search-type" value="prices">
  <input type="hidden" name="view" value="grid">

  <div class="to-rent">

    <div class="form-group typeahead-default full-width-text-submit">
      <div class="to-rent-typeahead-cont">
        <input id="search-location-rent" name="search" type="text" autocomplete="off" class="typeahead" placeholder="e.g. Bristol, SW6, G61 2DW, Victoria Station">
        <input name="location-id" type="hidden" value="">
        <ul class="typeahead-results list-group" style="display: none;"></ul>
      </div>
      <button type="submit" id="submit-rent" class="input-cta">
        <i class="icon-search"></i>
        <span class="text">Search</span>
      </button>
    </div>
  </div>
</form>